<!-- Accordion item 1-->
<div class="accordion__item accordion__item--active">
	<div class="accordion__header">
		<div class="accordion__header-img">
			<img src="./assets/img/wedo/photography.png" alt="Photography">
		</div>
		<div class="accordion__title wedo__title arrow accordion__arrow">Photography</div>
	</div>

	<div class="accordion__main">
		<div class="accordion__desc wedo__desc">
			<p class="accordion__text wedo__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore
				et dolore magna
				aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis
				aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>

<!-- Accordion item 2-->
<div class="accordion__item">
	<div class="accordion__header">
		<div class="accordion__header-img">
			<img src="./assets/img/wedo/creativity.png" alt="Creativity">
		</div>
		<div class="accordion__title wedo__title arrow accordion__arrow">creativity</div>
	</div>
	<div class="accordion__main">
		<div class="accordion__desc wedo__desc">
			<p class="accordion__text wedo__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore
				et dolore
				magna
				aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo
				consequat. Duis
				aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>

<!-- Accordion item 3-->
<div class="accordion__item">
	<div class="accordion__header">
		<div class="accordion__header-img">
			<img src="./assets/img/wedo/web-design.png" alt="Web design">
		</div>
		<div class="accordion__title wedo__title arrow accordion__arrow">web design</div>
	</div>
	<div class="accordion__main">
		<div class="accordion__desc wedo__desc">
			<p class="accordion__text wedo__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore
				et dolore
				magna
				aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo
				consequat. Duis
				aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>