/* Layout */

/* Section Header */
.section-header {
	text-align: center;
}

.section-header__desc--indent {
	margin-bottom: var(--i_b);
}

/* Styles */

.header-set__sup-title {
	font-family: "Kaushan Script";
	font-size: var(--s-font_m);
	color: var(--c-grey__dark);
	text-align: center;
}

.header-set__title {
	font-size: var(--s-font_b);
	text-transform: uppercase;
	color: var(--c-grey__dark);
	font-weight: 700;
	text-align: center;
}

.section-header__text {
	margin: 0 auto;
	max-width: var(--s-section-header-w-max);

	font-family: "Roboto";
	line-height: 1.5em;
}
