/* Decor */
.happy-clients-aut {
	background-image: url(../../img/bg/clients.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Layout */
.happy-clients-inner {
	padding: 100px 0px;
}

.happy-clients-box {
	row-gap: 70px;
}

.happy-client {
	max-width: calc(50% - 10px * 2);
	padding: 0 10px;
}

.happy-client__decor-line:after {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Styles */
.happy-client__name {
	font-size: var(--s-font_s);
	font-weight: 600;
	text-transform: uppercase;
	color: var(--c-grey__dark);
}

.happy-client__prof {
	margin-top: 10px;

	font-family: "Roboto";
	line-height: 1.5em;
	font-style: italic;
	font-weight: 300;
	color: var(--c-grey__dark);
}

.happy-client__text {
	font-family: "Roboto";
	line-height: 1.5em;
}
