.accordion {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.accordion__img-box {
	width: calc(50% - 30px);
	max-width: 600px;
}

.accordion__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 600px ;
	width: 100%;
}

.accordion__item {
	border: 1px solid var(--c-o-1);
}

.accordion__header {
	position: relative;

	display: flex;
	padding: 15px;
}

.accordion__title {
	margin-left: 15px;
	align-self: center;
}

.accordion__desc {
	display: none;
	padding: 20px;
}

.accordion__arrow::after {
	position: absolute;
	right: 20px;
	top: 50%;
}

/* Modifiers */

/* Active */
.accordion__item--active
.accordion__header {
	border-bottom: 1px solid var(--c-o-1);
}

.accordion__item--active
.accordion__desc {
	display: block;
}

.accordion__item--active
.accordion__arrow::after {
	transform: translateY(-50%) rotate(-45deg);
}
