/* Layout */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Page */
.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;

	overflow: hidden;
}

/* Container */
.container {
	position: relative;
	margin: 0 auto;
	max-width: calc(var(--s-container) + var(--i_m) * 2);
	padding: 0 var(--i_m);
}

/* Grid */

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--s-grid-gap);
}

.col {
	flex: calc(var(--s-col-w) - var(--s-grid-gap));
}

/* Media  */

@media (max-width: 1199px) {

}
