:root {
	/* Indents */
	--i_s: 10px;
	--i_m: 30px;
	--i_b: 100px;

	--i-section-offset: 100px;
	--i-title-box-offset: 100px;

	/* Container*/
	--s-container: 1200px;
	--s-intro-title-box: 900px;
	--s-section-header-w-max: 960px;

	/* Grid */
	--s-col-w: 33%;
	--s-grid-gap: var(--i_m);

	/* Buttons */
	--i-button_d-w: var(--i-button_m-w);
	--i-button_d-h: var(--i-button_m-h);

	--i-button_m-w: 150px;
	--i-button_m-h: 40px;

	/* Header */
	--i-header-h: 60px;
	/* Intro */
	/* --i-intro-slider-status-block: calc(var(--i-intro-slider-status-m) + var(--i-intro-slider-status-h)); */
	--i-intro-slider-status-m: 150;
	--i-intro-slider-status-h: 75px;

	/* Card */
	--s-card-gap: var(--i_m);
	--s-card-w-max: 400px;
	--s-card-w-min: 150px;
	--s-card-h: ;
	--s-card-offset: -10px;

	/* Animation */
	--t-animation: 0.3s;

	/* Accordion */
	--s-accordion-img: 600px;
	--s-accordion-content: 600px;
	--s-accordion-gap: var(--i_m);

	/* Reviews */
	--s-review: 600px;
	--s-review-gap: 70px;
	--s-review-p: 35px;
	--s-review-content-gap: 30px;
}
