/* Layout */

/* Card */
.blog__card {
	/* max-width: 400px;
	min-width: 150px; */
}

/* Header */
.blog__img-content {
	position: relative;
}

.blog__date {
	position: absolute;
	left: -15px;
	bottom: 15px;

	min-width: 15%;
	min-height: 30%;
	max-width: 60px;
	max-height: 70px;
	padding: 5px;

	/* text-align: center; */
	background-color: var(--c-s);
}

/* Styles */

/* Date */
.blog__date-num {
	font-size: var(--s-font_b);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.blog__date-month {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	text-align: center;
}

/* Header */
.blog__title {
	margin-top: 15px;

	font-size: var(--s-font_s);
	font-weight: 600;
	text-transform: uppercase;
	color: var(--c-grey__dark);
}

/* Main */
.blog__text {
	margin-top: 10px;

	font-family: "Roboto";
	line-height: 1.5em;
}

/* Footer */
.blog__stat,
.blog__card-views,
.blog__card-comments {
	display: flex;
}

.blog__stat {
	gap: 15px;
}

.blog__card-views,
.blog__card-comments {
	font-family: "Roboto";
	font-style: italic;
	line-height: 1.5em;
	gap: 5px;
}

.blog__icon {
	color: var(--c-s);
}
