/* Card */
.blog__card {
	max-width: 400px;
	min-width: 150px;
}

/* Card Header */
.blog__img-content {
	position: relative;
}

.blog__date {
	position: relative;
	left: -15px;
	bottom: 75px;

	width: 15%;
	height: 30%;
	max-width: 60px;
	max-height: 70px;
	padding: 5px;

	/* text-align: center; */
	background-color: var(--c-s);
}

.blog__date-num {
	font-size: var(--s-font_b);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.blog__date-month {
	font-family: "Roboto";
	font-weight: 300;
	text-align: center;
}

/* Card main */
.blog__title {
	margin-top: 15px;

	font-size: var(--s-font_s);
	font-weight: 400;
	text-transform: uppercase;
	color: var(--c-grey__dark);
}

.blog__text {
	margin-top: 10px;

	font-size: var(--s-font_s);
	line-height: 1.5em;
	font-weight: 400;
	color: var(--c-grey);
}

/* Card footer */

.blog__stat,
.blog__card-views,
.blog__card-comments {
	display: flex;
}

.blog__stat {
	gap: 15px;
}

.blog__card-views,
.blog__card-comments {
	font-family: "Roboto";
	font-style: italic;
	line-height: 1.5em;
	color: var(--c-grey__light);
	gap: 5px;
}

.blog__icon {
	color: var(--c-s);
}
