/* Layout */
.recall-box {
	padding: 0 70px;
}

.recall {
	width: 100%;
	/* align-items: center; */
}

.recall__content {
	max-width: calc(70% - var(--s-card-gap) - 6px);

	font-size: var(--s-font_m);
}

.recall__author {
	padding-top: 10px;

	display: flex;
	align-items: center;
	gap: 5px;
}

/* Styles */
.recall__text {
	line-height: 2.25rem;
	font-weight: 300;
	font-style: italic;
}

.recall__name {
	font-family: "Kaushan Script";
	color: var(--c-grey__dark);
}


/* Modifiers */

/* Default avatar */

.recall__avatar--def {
	max-width: 150px;
	padding: 0 25px;
	/* background-color: aquamarine; */
}

.recall__img--def {
	width: 40%;
	height: 40%;
	padding: 30%;
}
