/* Layout */
.services-box--indent {
	padding-top: 30px;
}

.services-box__row {
	--s-grid-gap:0px;
	display: flex;
	column-gap: 60px;
}

.service {
	display: flex;
	column-gap: var(--i_m);
	flex: calc(100% / 3 - 40px);
}

.service__avatar {
	flex: calc(10%) ;/* ~30px */
	max-width: 30px;
}

.service__content{
	flex: calc(90% - var(--s-card-gap)) ;
}

/* Styles */

.service__title {
	font-size: .875em;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--c-grey__dark);
}

.service__text {
	margin-top: 10px;

	line-height: 1.5em;
}

/* Decor */
.services__decor-line:after {
	margin: 50px 0;
}