.team__icon {

}

.team__icon-link {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 50px;
	height: 50px;

	text-align: center;
	color: var(--c-p);

	background-color: var(--c-yellow);
}

.team__icon-link:hover {
	color: var(--c-white);
	background-color: var(--c-p);

	transition: all var(--t-animation) linear;
}

/* Main */
.team__card-main {
	text-align: center;
}

.team__name {
	margin-top: 20px;

	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--c-grey__dark);
}

team__card-main {

}

.team__prof {
	margin-top: 10px;

	font-family: "Roboto";
	font-weight: 300;
	font-style: italic;
	line-height: 1.5em;
	color: var(--c-grey);
}