/* Layout */

.work__img {
	position: relative;
}

/* Styles */

.work__content {
	text-align: center;
}

.work__icon {

}

.work__title {
	margin-top: 15px;
	font-size: var(--s-font_s);
	font-weight: 600;
	text-transform: uppercase;
}

.work__text {
	margin-top: 10px;

	font-family: "Roboto";
	line-height: 1.5em;
	font-style: italic;
	font-weight: 300;
}
