.card {
	max-width: var(--s-card-w-max);
	min-width: var(--s-card-w-min);
}

.card__content {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

.card__img-wrapper {
	position: relative;
}

/* Modifiers */

/* Offset */
.card__img-wrapper--offset {
	background-color: var(--c-s);
}

.card__img-wrapper--offset:hover .card__img-inner--offset {
	transform: translate3d(var(--s-card-offset), var(--s-card-offset), 0);
	transition: var(--t-animation) linear;
}

/* Full */
.card--adaptive {
	--s-card-w-max: 100%;
}

.cards-box--full {
	--s-card-gap: 0;
}

/* Horizontal card */
.card--horizontal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--s-card-gap);
}
