.review {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-card-gap);
}

.review__avatar {
	flex: 20%;
	max-width: 200px;
	min-width: 100px;
}

.review__content {
	flex: calc(80% - var(--s-card-gap));
}