.seem {

}

.seem:hover {
	opacity: .9;
}

.seem--theme {
	opacity: 0;
	color: var(--c-white);
	background: linear-gradient(
		to bottom,
		var(--c-p),
		var(--c-yellow)
	);
	transition: all var(--t-animation) linear;
}